@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
  color: #2b2c2c;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  text-align: left;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hover-effect {
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hover-effect:hover {
  background-color: white;
}

.showcase-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.App-header {
  height: 80px;
  padding: 0 10px;
  background-color:whitesmoke;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.card {
  width: 300px;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card:hover {
  box-shadow: 2px 2px 5px #999999;
}

.card-image {
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
}

.book-image {
    width: 500px;
}

.book-desc {
  margin: 50px;
}

.addtocart-btn {
  margin: 10px;
  color: #333333;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #333333;
  cursor: pointer;
}

.addtocart-btn:hover {
  background: gold;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.cart {
  width: 900px;
}

.cart-image {
  margin: 10px;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: medium;
  }
  p {
    font-size: small;
  }
  .card {
    width: 140px;
    margin: 5px;
  }
  .card-image {
    width: 130px;
  }
  .book-image {
    width: 90%;
  }
  .book-desc {
    margin: 20px;
  }
  .cart {
    width: 100%;
  }
  .cart-image {
    width: 150px;
  }
}
